body,
html {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  background: rgb(22,35,67);
}
#game {
  width: 100%;
  height: 100%;
}
/* header-------------------- */
#header{
  width: 100%;
  height: 20%;
  position: relative;
}
#header .ball{
  width: 900px;
  height: 100%;
  background: royalblue;
}
/* content-------------------- */
#content{
  width: 100%;
  height: 60%;
  position: relative;
}
#content #left{
  float: left;
  width: 500px;
  height: 100%;
  margin-left: 20px;
  background: seagreen;
}
#content #right{
  float: right;
  width: 500px;
  height: 100%;
  margin-right: 20px;
  background: skyblue;
}
#content #guess{
  width: 270px;
  height: 100%;
  margin: auto;
}
#guess img{
  height: 150px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#content #intro{
  width: 800px;
  height: 120%;
  margin: auto;
  background: turquoise;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
.card{
  height: 200px;
  width: auto;
  margin: 10px;
  position: relative;

  transform-style: preserve-3d;
  transition: transform .5s;
}
.left-card-front{
  width: 100%;
  height: 100%;
  background: url(/images/1_front.png)no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;

  transform: rotate(180deg);
}
.left-card-back{
  width: 100%;
  height: 100%;
  /* background: url(/images/card_shadow_back.png)no-repeat; */
  background-position: center;
  background-size: contain;
  position: absolute;
}
.right-card-front{
  width: 100%;
  height: 100%;
  background: url(/images/1_front.png)no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;

  transform: rotate(180deg);
}
.right-card-back{
  width: 100%;
  height: 100%;
  /* background: url(/images/card_face_back.png)no-repeat; */
  background-position: center;
  background-size: contain;
  position: absolute;
}
.card-open{
  transform: rotateY(180deg);
}
/* footer--------------------- */
#footer{  
  width: 100%;
  height: 20%;
}
#footer #logo{
  float: right;
  width: 500px;
  height: 100%;
  position: relative;
}
#logo img{
  height: 200px;
  width: auto;
  position: absolute;
  right: 10%;
}